body
{background-repeat: no-repeat;
background-position: cover;
background-size: cover;
font-family: arial,sans-serif;
background-color: rgb(0, 0, 0);
background-image: url(image/1_l56VdSlO1uF6nOpqa0yOpw.jpg);
object-fit:cover;
background-attachment: fixed;
}

.fadeIn {
  opacity: 0; /* Start with invisible text */
  animation: fadeIn ease-in 2s; /* Define the animation */
  animation-fill-mode: forwards; /* Keep the final state after animation */
}
@keyframes fadeIn {
  from { opacity: 0; } /* Start transparent */
  to { opacity: 1; } /* End opaque */
}

h1{
color: transparent;
position: absolute;
top: 21%;
left:35%;
font-size: 60px;
font-family: Arial, Helvetica, sans-serif;
-webkit-text-stroke: 1px #fff;
background: linear-gradient(to right, #d104dc,
        rgb(241, 8, 241),rgb(28, 200, 239),#d104dc);
-webkit-background-clip: text;
background-position: 0 0;
animation: back 20s linear infinite;
}

@keyframes back
{
100%{
    background-position: 2000px 0;
}
}


h3{
        color: white;
        position: absolute;
        font-size: 30px;
        top: 34%;
        left: 44%;
        text-decoration: wavy;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: italic;
}
p{
        color: white;
        position: absolute;
        top: 45%;
        left: 25%;
        font-size: 30px;
}
.card{
        position: absolute;
top: 45%;
left: 22%;
        height: 100px;
        width: 60%;
        border: rgb(255, 255, 255);
        opacity: 0.5;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 8px 6px 4px rgb(0, 0, 0);
        background: linear-gradient(to right, #e8059c,
        rgb(28, 2, 143), rgb(3, 119, 158), rgb(8, 176, 8));

}
    
.select{
        font-size: 60px;
        position: absolute;
        top: 110%;
        left: 40%;
        color: #fff;
}

.coin {
        font-size: 200px;
        width: 0.1em;
        height: 1em;
        background: linear-gradient(#faa504, #141001);
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: rotate_4001510 7s infinite linear;
        transform-style: preserve-3d;
      }
      
      .coin .side, .coin:before, .coin:after {
        content: "";
        position: absolute;
        width: 1em;
        height: 1em;
        overflow: hidden;
        border-radius: 50%;
        right: -0.4em;
        text-align: center;
        line-height: 1;
        transform: rotateY(-90deg);
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .coin .tails, .coin:after {
        left: -0.4em;
        transform: rotateY(90deg);
      }
      
      .coin:before, .coin:after {
        background: linear-gradient(#faa504, #141001);
        backface-visibility: hidden;
        transform: rotateY(90deg);
      }
      
      .coin:after {
        transform: rotateY(-90deg);
      }
      
      @keyframes rotate_4001510 {
        100% {
          transform: rotateY(360deg);
        }
      }
      
      .svg_back {
        transform: scaleX(-1);
      }
      .bitcoinelement{
        position: absolute;
        top: 25%;
        left: 10%;
        height: 5fbipx;
        width: 15%;
        svg{
          width: 25px !important;
        }
      }
/*button*/
/* .button{
  display: inline-block;
  position: absolute;
  top: 625px;
  left: 100px;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 20px;
  border: #212eee;
  border-radius: 20px;
  color: white;
  background-color: #212eee;

}
.button:hover{
  background-color: rgb(57, 54, 132);
} */


button {
  position: absolute;
  top: 650px;
  left: 600px;
  padding: 12px 35px;
  background: #6126b9;
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
  border: 3px solid #6126b9;
  border-radius: 35px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover {
  background: transparent;
  color: #fec195;
  box-shadow: 0 0 25px #4f07bc8c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}

 /* whitepaper */
 .buttn {
  position: absolute;
  top: 5%;
  left: 80%;
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: .75rem;
  background-color: var(--clr);
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  padding: .75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color .3s;
}

.buttn__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.buttn:hover {
  background-color: #000;
}

.buttn:hover .button__icon-wrapper {
  color: #000;
}

.buttn__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.buttn:hover .buttn__icon-svg:first-child {
  transition: transform .3s ease-in-out;
  transform: translate(150%, -150%);
}

.buttn:hover .button__icon-svg--copy {
  transition: transform .3s ease-in-out .1s;
  transform: translate(0);
}